<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hmh.repository.DailyLogMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="seqNo" keyColumn="seq_no">
        INSERT INTO daily_log
        (cycle_seq_no, member_seq_no, todo_ymd)
        VALUES (#{cycleSeqNo}, #{memberSeqNo}, #{todoYmd})
    </insert>

    <select id="findById" parameterType="long" resultType="DailyLog">
        SELECT * FROM daily_log WHERE seq_no = #{seqNo}
    </select>

    <select id="findAllOfTodayByDailyLog" resultType="DailyLogDto" parameterType="DailyLog">
        SELECT
            dl.seq_no,
            r.title,
            r.routine_type,
            dl.status,
            dl.achieved_value,
            rc.daily_limit,
            rc.target_value
        FROM daily_log dl
        INNER JOIN routine_cycle rc ON dl.cycle_seq_no = rc.seq_no
        INNER JOIN routine r ON rc.routine_seq_no = r.seq_no
        WHERE dl.member_seq_no = #{memberSeqNo}
        AND dl.todo_ymd = #{todoYmd}
        AND rc.status = 'IN_PROGRESS'
    </select>

    <select id="findAllByCycleSeqNo" parameterType="long" resultType="DailyLog">
        SELECT * FROM daily_log WHERE cycle_seq_no = #{cycleSeqNo}
    </select>

    <update id="update" parameterType="DailyLog">
        UPDATE daily_log
        SET status = #{status},
            achieved_value = #{achievedValue},
            change_at = NOW()
            <if test='status.equals("DONE")'>
                ,completed_at = NOW()
            </if>
            <if test='!status.equals("DONE")'>
                ,completed_at = null
            </if>
        WHERE seq_no = #{seqNo}
    </update>

    <update id="updateTodoToFail" parameterType="DailyLog">
        UPDATE daily_log
        SET status = 'FAIL',
        change_at = NOW()
        WHERE status = #{status}
        AND todo_ymd <![CDATA[<]]> #{todoYmd}
    </update>

    <select id="findHistoryByMemberSeqNo" parameterType="long" resultType="DailyLogHistoryDto">
        SELECT
            dl.todo_ymd,
            r.title,
            r.routine_type,
            dl.status,
            dl.achieved_value,
            rc.target_value
        FROM daily_log dl
        INNER JOIN routine_cycle rc ON dl.cycle_seq_no = rc.seq_no
        INNER JOIN routine r ON rc.routine_seq_no = r.seq_no
        WHERE dl.member_seq_no = #{memberSeqNo}
        AND dl.status != 'TODO'
        ORDER BY dl.todo_ymd DESC, dl.completed_at DESC
    </select>

    <update id="cancelByRoutineSeqNo">
        UPDATE daily_log
        SET status = 'CANCEL',
            change_at = NOW()
        WHERE cycle_seq_no IN (
            SELECT seq_no FROM routine_cycle WHERE routine_seq_no = #{routineSeqNo}
        )
        AND member_seq_no = #{memberSeqNo}
        AND status = 'TODO'
    </update>

    <select id="existsByCycleSeqNoAndTodoYmd" resultType="boolean">
        SELECT EXISTS (
            SELECT 1 FROM daily_log
            WHERE cycle_seq_no = #{cycleSeqNo}
            AND todo_ymd = #{todoYmd}
        )
    </select>
</mapper>