<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hmh.repository.MemberMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="seqNo" keyColumn="seq_no">
        INSERT INTO member
            (login_id, password, name, email, week_start_day)
        VALUES (#{loginId}, #{password}, #{name}, #{email}, #{weekStartDay})
    </insert>

    <select id="findById" resultType="Member">
        SELECT * FROM member WHERE login_id = #{loginId}
    </select>

    <select id="findAll" resultType="Member">
        SELECT * FROM member
    </select>

    <update id="updateLastLoginAt" parameterType="Member">
        UPDATE member
        SET last_login_at = NOW()
        WHERE login_id = #{loginId}
    </update>
</mapper>