<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hmh.repository.RoutineMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="seqNo" keyColumn="seq_no">
        INSERT INTO routine
        (member_seq_no, title, target_value, daily_limit, routine_type, interval_weeks, days_of_week, start_ymd)
        VALUES(#{memberSeqNo}, #{title}, #{targetValue}, #{dailyLimit}, #{routineType}, #{intervalWeeks}, #{daysOfWeek}, #{startYmd})
    </insert>

    <select id="findAllByMemberSeqNo" parameterType="long" resultType="Routine">
        SELECT
            *
        FROM routine
        WHERE member_seq_no = #{memberSeqNo}
        AND status = 'IN_PROGRESS'
        ORDER BY create_at desc
    </select>

    <select id="findAllByInProgress" parameterType="Routine" resultType="Routine">
        SELECT
            *
        FROM routine
        WHERE status = 'IN_PROGRESS'
        AND start_ymd <![CDATA[<=]]> #{startYmd}
    </select>

    <update id="deleteBySeqNo">
        UPDATE routine
        SET status = 'DELETE',
            change_at = NOW()
        WHERE seq_no = #{seqNo}
        AND member_seq_no = #{memberSeqNo}
        AND status = 'IN_PROGRESS'
    </update>

    <update id="updateSetting">
        UPDATE routine
        SET target_value = #{targetValue},
            daily_limit = #{dailyLimit},
            change_at = NOW()
        WHERE seq_no = #{seqNo}
        AND member_seq_no = #{memberSeqNo}
        AND status = 'IN_PROGRESS'
    </update>

</mapper>